extensions:
	spameriElasticSearch: \Spameri\Elastic\DI\SpameriElasticSearchExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)

routing:
	routes:
		"<presenter>/<action>[/<x>/<y>]": Engineer:default


application:
	mapping:
		*: Webtorio\UI\Presenter\*Presenter


spameriElasticSearch:
	debug: true

services:
	- Webtorio\Model\Engineer\IndexConfig
